html{
  scrollbar-color: var(--main-color) rgba(255, 254, 254, 0.98);
}
body{
  background-color: rgb(221 , 220 , 218);
  overflow-x:hidden;
}  
:root{
  --main-color:rgba( 109,  9 , 51 , 0.966) ;
  --second-color:rgb(212, 212, 212);
}
@import "tailwindcss";
@theme{
  --color-main-color: var(--main-color);
  --color-second-color: var(--second-color);
  --radius-main-radius:0.2rem; 
  --color-hover-color:rgba(88, 78, 78, 0.07) ;
  --color-meals-slider:rgb(63, 7, 30) ;
  --border-main-color: 1px solid #222;
}
.leaflet-container{
  width: 100%;
  height: 60vh ;
}
.locationMap{
  cursor: url("./assets/images/pin.webp") , auto !important;
}
li{
 list-style-type: none;
}
.main-font{
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
.second-font{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.cairo-font{
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
.main-shadow{
  box-shadow: 0.1px 0.2px 0.1px 0.2px #2222222a ;
}
.background-details{
  background-color: rgba(22, 16, 18, 0.151);
}
.background-cart{
  background-color: rgba(240, 240, 240, 0.623);
}
.background-menu{
  background-color:rgba(109, 9, 51, 0.884) ;
}
i , button {
 cursor:pointer 
}
.icon-phone ,.icon-message ,.icon-linked_in{
  font-size:18px 
}
.swiper {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: start !important;
  cursor:pointer !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet-active{
  background-color: var(--main-color) !important;
}
.swiper-button-prev ,.swiper-button-next{
  color: var(--main-color) !important;
  cursor:pointer !important;
}
.Toastify__progress-bar--wrp{
  background-color: var(--main-color);
}
.Toastify__progress-bar{
  background-color: rgba(240, 240, 240, 0.623) !important;
}
.Toastify__toast-icon svg{
   fill: var(--main-color);
}
.z-99999999{
  z-index: 9999999 !important;
}
.z-9999999{
  z-index:9999999 !important;
  }
.z-999999{
z-index:999999 !important;
}
.Toastify__toast-container{
  z-index: 99999999 !important;
}
.btn-showCart{
  color: var(--main-color) !important;
}
.bg-hover-color{
  background-color: #d8d8d818;
}
