:root{
  --main-color:rgba( 109,  9 , 51 , 0.966) ;
}
.leaflet-container{
  width: 100%;
  height: 80vh ;
}
@import "tailwindcss";
@theme{
  --color-main-color: var(--main-color);
  --color-second-color: rgb(212, 212, 212);
  --radius-main-radius:0.2rem; 
  --color-hover-color:rgba(255, 255, 255, 0.075) ;
  --color-meals-slider:rgb(63, 7, 30) ;
}
li{
 list-style-type: none;
}
body{
   background-color: rgb(221 , 220 , 218);
}
::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color) ;
}
.main-font{
  font-family: "Playwrite NZ Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
.second-font{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.main-shadow{
  box-shadow: 0.1px 0.2px 0.1px 0.2px #2222222a ;
}
.background-details{
  background-color: rgba(22, 16, 18, 0.151);
}
.background-cart{
  background-color: rgba(240, 240, 240, 0.623);
}
i , button {
 cursor: pointer; 
}
.swiper {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: start !important;
  cursor:pointer !important;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet-active{
  background-color: var(--main-color) !important;
}
.swiper-button-prev ,.swiper-button-next{
  color: var(--main-color) !important;
  cursor:pointer !important;
}
.Toastify__progress-bar--wrp{
  background-color: var(--main-color);
}
.Toastify__progress-bar{
  background-color: rgba(240, 240, 240, 0.623) !important;
}
.Toastify__toast-icon svg{
   fill: var(--main-color);
}

